# must be unique in a given SonarQube instance
sonar.projectKey=YOUR PROJECT KEY
sonar.login=YOUR LOGIN
sonar.password=YOUR PASSWORD
# --- optional properties ---

# defaults to project key
sonar.projectName=YOUR PROJECT NAME
# defaults to 'not provided'
sonar.projectVersion=1.0
 
# Path is relative to the sonar-project.properties file. Defaults to .
sonar.sources=src
sonar.tests=src
sonar.test.inclusions=src/**/*.spec.js,src/**/*.spec.jsx,src/**/*.test.js,src/**/*.test.jsx

# Now specify path of lcov and testlog
sonar.javascript.lcov.reportPaths=coverage/lcov.info
#optional setup, jacoco report sensor can be used
#sonar.coverage.jacoco.xmlReportPaths=coverage/test-reporter.xml
sonar.testExecutionReportPaths=coverage/test-reporter.xml

# Encoding of the source code. Default is default system encoding
sonar.sourceEncoding=UTF-8